*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: black;
}
#main1{
    width: 100%;
    background-color: black;
    position: relative;
}
#hero{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: #ffffff;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
background-color: black;
}
 #hero #nav a{
    text-decoration: none;
    font-size: 18px;
    color: #ffff;
}
#heading{
    margin-top: 90px;
}
#heading h1{
    margin-left: 30px;
    opacity: .6;
line-height: 1;
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;
}
#heading #secondh1{
    margin-left: 220px;
}
.blocktext{
    width: fit-content;
display: flex;
flex-direction: column;
align-items: end;

}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;

}
#chhotiheadings{
    margin-top: 100px;
    padding-right: 50px;

}
#chhotiheadings h5{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    text-transform: uppercase;
    margin-top: .5vw;
    font-size:1vw;
}
#herofooter h1{
    color: #888;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}

#second{
    color: #FFF;
    padding-top: 200px;
    width: 100%;
    height: 170vh;
 
    background-color: black;
}
.elem{
    position: relative;
    width: 88%;
    border-top: 1px solid #888;
    padding: 4vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.elem h1{
    text-transform: uppercase;
    font-size: 5vw;
    opacity: .6;
    padding: 8px;
}
.elemlast{
    border-bottom: 1px solid #888;



}
.elem img{
    opacity: 0; 
    
    height: 100%;
    z-index: 999;
    position: absolute;
}
#about{
    color: #fff;
    display: flex;
    align-items: center;

    gap: 50px;
    width: 100%;
    background-color: black;
    padding: 10vw 5vw;
    padding-left: 30vw;


}
#about img{
    border-radius: 40%;
    height: 450px;
  

}
#textabout{
width: 30rem;


}
#textabout h5{
    text-transform: uppercase;
    opacity: .6;
}
#textabout p{
     line-height: 1.7;
     margin-bottom: 30PX;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}
#subscribe{
    background-color: black;
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 10vw;

}
#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10PX;
}
#footerleft{
display: flex;
gap: 20px;
}
#footer{
    background-color: black;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 30px ;
color: #fff;
padding: 40px 30px ;
}
#footer a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}
#footerright{
    display: flex;
    gap:30px ;
}
#mincircle{
    width: 10px;
    height: 10px;
position: absolute;
z-index: 99999 ;
border-radius: 50%;
background-color: #fff;
transition: all cubic-bezier(0.19, 1, 0.22,1) 0.8s;
}
.bounding{
    width: fit-content;
overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(100%);

}
